[Unit]
Description=MLflow Tracking Server
After=network.target

[Service]
WorkingDirectory=%h
EnvironmentFile=/home/ubuntu/.mlflow.conf
ExecStart=/home/ubuntu/venv/bin/mlflow server \
    --host=${MLFLOW_HOST} \
    --port=${MLFLOW_PORT} \
    --backend-store-uri=${MLFLOW_BACKEND_STORE_URI} \
    --default-artifact-root=${MLFLOW_DEFAULT_ARTIFACT_ROOT}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target 