yc_token                 = "yc_token"
yc_cloud_id              = "b1g4qgqov7nbl5sn3vhl"
yc_folder_id             = "b1gdo3s8323p2nfiiqgl"
yc_zone                  = "ru-central1-a"
yc_service_account_name  = "aresh2025-sa"
yc_bucket_name           = "aresh2025-bucket"
yc_network_name          = "aresh2025-network"
yc_subnet_name           = "aresh2025-subnet"
yc_route_table_name      = "aresh2025-route-table"
yc_nat_gateway_name      = "aresh2025-nat-gateway"
yc_security_group_name   = "aresh2025-security-group"
yc_subnet_range          = "10.0.0.0/24"
yc_dataproc_cluster_name = "aresh2025-dataproc-cluster"
yc_dataproc_version      = "2.0"
public_key_path          = "<your public ssh key path>.pub"
private_key_path         = "<your private ssh key path>"
yc_image_id              = "fd85hkli5dp6as39ali4" # Ubuntu 20.04 LTS
yc_instance_name         = "aresh2025-proxy-vm"